<!doctype html>
<html lang="en">
	<head>
		<title>
			New_Profile
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>

<h1>Il Arrabiato</h1>
<h2>New Profile</h2>

<%= render 'form', profile: @profile %>

<%= link_to 'Back', profiles_path %>
</body>
