<!doctype html>
<html lang="en">
	<head>
		<title>
			New_Post
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>
<h1>Il Arrabiato</h1>
<h2>New Post</h2>

<%= render 'form', post: @post %>

<%= link_to 'Back', profiles_url %>
<body>
