<!doctype html>
<html lang="en">
	<head>
		<title>
			New_Post
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>

<div class="masthead">
  <h1>Il Arrabiato</h1>
</div>

<div class="about-section">
  <h2 align="center">New Post</h2>
  <div align="center">
    <%= render 'form', post: @post %>
    <%= link_to 'Back', root_url %>
  </div>
</div>
<body>
