<!doctype html>
<html lang="en">
	<head>
		<title>
			Edit_User
		</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>
<body>

<h1>Il Arrabiato</h1>
<h2>Edit User</h2>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</body>
